*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Heebo", sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.header{
    max-width: 1170px;
    height: 40px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.rightList{
    display: flex;
    justify-content: space-between;
    width: 250px;

    a{
        font-weight: 500px;
        font-size: 20px;
        line-height: 29.38px;
        color: #000000;
        
    }

}

.logo{
    width: 50%;

    a{
        font-weight: 500px;
        font-size: 20px;
        line-height: 29.38px;
        color: #000000;
    }
}

.main1{
    display: flex;
    width: 1170px;
    height: 70vh;
    margin: 0 auto;
    gap: 250px;

}

.myImage{
    width: 243px;
    height: 243px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: -6px 4px 2px #EDF7FA;
}

.main1FirstSide h1{
    width: 506px;
    height: 105px;
    font-weight: 700px;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 60px;
    
}

.main1FirstSide p{
    width: 497px;
    height: 66px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-bottom: 50px;

}

.main1FirstSide button{
background-color: #FF6464;
color: #ffffff;
width: 208px;
height: 47px;
font-weight: 500px;
font-size: 20px;
border-radius: 2px;
line-height: 29px;
border: none;

&:hover{
    background-color: #c52d2d;
    cursor: pointer;
}

}

.main2{
    background-color: #EDF7FA;
    height: 396px;
    margin-bottom: 15px;
}

.postHeader{
    width: 1170px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    height: 60px;
    align-items: center;

    .recentP{
        font-weight: 400px;
        font-size: 22px;
        line-height: 60px;
        color: #21243D;
        height: 60px;
    }
    .viewAll{
        height: 60px;
        text-decoration: underline;

    }

}

.posts{
    width: 1170px;
    height: 295px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .post{
        width: 418px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0px 4px 10px 0px #BBE1FA40;
        padding: 24px;


        h2{
            width: 374px;
            height: 85px;
            font-weight: 700px;
            font-size: 26px;
            line-height: 38px;
            margin-bottom: 10px;
        }
        .postDate{
            font-weight: 400px;
            font-size: 18px;
            line-height: 26px;
            color: #21243D;
            margin-bottom: 20px;

        }
        .postInfo{
            width: 368px;
            font-weight: 400px;
            font-size: 16px;
            line-height: 23px;
            color: #21243D;
        }
    }
}

.main3{
    height: 100vh;
    margin-bottom: 83px;

    .featuredWork{
        width: 1170px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 22px;
        line-height: 60px;
        color: #21243D;
        margin-bottom: 18px;
        /* height: 60px; */
    }

    
}


.cards{
    width: 1170px;
    height: 210px;
    margin: 0 auto;
    display: flex;
    gap: 18px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 31px;

    img{
        width: 246px;
        height: 180px;
        border-radius: 6px;
        border: 1px solid black;
        margin-bottom: 15px
    }

    .card{
        height: 180px;
        gap: 16px;


        h1{
            height: 44px;
            /* width: 305px; */
            font-weight: 700px;
            font-size: 30px;
            line-height: 44px;
            margin-bottom: 16px;
        }

        .btnSapn{
            display: flex;
            gap: 36px;
            margin-bottom: 17px;

            button{
                height: 25px;
                width: 62px;
                border-radius: 16px;
                background-color: #142850;
                color: #FFFFFF;
                font-weight: 900; 
                font-size: 18px;
            }
            span{
                width: 374px;
                height: 34px;
                font-weight: 400;
                font-size: 20px;
                line-height: 29px;
                color: #8695A4;
            }
        }
    }
}

.card p{
    width: 594px;
    height: 93px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 182px;
}

.icons{
    display: flex;
    gap: 35px;
    margin-bottom: 26px;
}





@media (max-width:768px) {
    .header{
        width: 767px;
        display: flex;
        justify-content: center;
        margin-bottom: 33px;

        .logo{
            max-width: 300px;
        }
    }
    .main1{
        width: 767px;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        img{
            order: -1;
            /* width: 174px;
            height: 180px; */
            
        }
        .main1FirstSide{
            display: flex;
            flex-direction: column;
            align-items: center;

            h1{
                width: 312px;
                height: 120px;
                font-weight: 700px;
                font-size: 32px;
                text-align: center;
                line-height: 40px;
                margin-bottom: 34px
            }
            p{
                width: 328px;
                height: 96px;
                font-weight: 400px;
                font-size: 16px;
                line-height: 23px;
                text-align: center;
                margin-bottom: 36px
            }
            button{
                width: 208px;
                height: 47px;
                font-weight: 500px;
                font-size: 20px;
                line-height: 29px;
                margin-bottom: 50px;
            }
        }
    }

    .main2{
        width: 767px;
        height: 100vh;
        .postHeader{
            width: 767px;
            display: flex;
            justify-content: center;
        }
       .posts{
        width: 767px;
        display: flex;
        flex-direction: column;
        
       }
    }

    
}