*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Heebo", sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px;
}
.header{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.rightList{
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.rightList a{
    font-weight: 500;
    font-size: 20px;
    line-height: 29.38px;
    color: #000000;

    &:hover{
        color: #c52d2d;
    }
    
}

.postImages{
    min-width: 246px;
}
.postImages img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    margin-bottom: 15px
}


.myImage img{
    width: 243px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: -6px 4px 2px #EDF7FA;
    margin: 0 auto;
}

.logo a{
        font-size: 20px;
        line-height: 29.38px;
        color: #000000;
}


.main1{
    display: flex;
    min-height: 100vh;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

}




.main1FirstSide h1{
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 60px;
    
}

.main1FirstSide p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-bottom: 50px;

}

.main1FirstSide button{
background-color: #FF6464;
color: #ffffff;
font-size: 20px;
border-radius: 2px;
line-height: 29px;
border: none;
padding: 10px;

&:hover{
    background-color: #b34040;
    cursor: pointer;
    font-weight: 300;
}

}

.main2{
    background-color: #EDF7FA;
    padding: 25px;
}

.postHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postHeader .recentP{
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    height: 60px;
}
.postHeader .viewAll{
    height: 60px;
    text-decoration: underline;

    &:hover{
        color: black;
    }

}

.posts{
    display: flex;
    gap: 20px; 
    
}
.posts .post{
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 0px #BBE1FA40;
    padding: 24px;

    &:hover{
        box-shadow: 3px 3px 3px 3   px #4b6d8540;
       
    }

}
.posts .post h2{
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 10px;
}
.posts .post .postDate{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    margin-bottom: 20px;
}
.posts .post .postInfo{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
}

.main3{
    margin-bottom: 83px;
}
.main3 .featuredWork{    
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 18px;
}


.cards{
    display: flex;
    gap: 34px;
    border-bottom: 1px solid #E0E0E0;
    padding: 30px;

    }
.cards .card h1{
    font-weight: 700px;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 16px;
}
.cards .btnSapn{
    display: flex;
    gap: 36px;
    margin-bottom: 17px;
}
.cards .btnSapn span{
    width: 374px;
    height: 34px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
.main3 .year{
    width: 62px;
    height: 25px;
    background-color: #142850;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-radius: 12px;
}

.card p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
    margin-bottom: 20px
}

footer{
    padding-bottom: 54px;
}

.iconAndCopy{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons{
    display: flex;
    gap: 35px;
    margin-bottom: 26px;
}





@media (max-width:768px) {
    .container{
        width: 100%;
    }
    .header{
        display: none;
    }
    .main1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 34px;
        height: calc(100vh - 100px);
    }
    .myImage{
        order: -1;
    }
    .myImage img{
        width: 170px;
    }
    .main1FirstSide h1{
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        line-height: 40px;
        margin-bottom: 21px;
    }
    .main1FirstSide p{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 27px;
    }
    .main1FirstSide button{
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        
    }
    .main1FirstSide{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .postHeader .viewAll{
        display: none;
    }
    .posts{
        display: flex;
        flex-direction: column;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .postWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   

    .postImages{
        width: 100%;
    }
    .featuredWork{
        text-align: center;
        font-size: 18px;
    }
    .postImages img{
        width: 100%;
        height: 100%;
    }
    .card .btnSapn .span{
        font-weight: 400;
        font-size: 16px;

    }
    .iconAndCopy{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    
}